# Ignore node_modules since dependencies will be installed inside the container
node_modules
npm-debug.log

# Ignore local development environment files
.env

# Ignore log files
*.log

# Ignore any other directories and files related to local development and build artifacts
.git
.gitignore
.DS_Store
.vscode
.idea
*.swp

# Ignore Dockerfile and docker-compose files if present
Dockerfile
docker-compose.yml
