# Ignore Mac system files
.DS_Store

# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Dependencies
/packages/node_modules

# Production
/build

# Coverage
/coverage
*.lcov

# Debug
*.log

# Misc
*.sublime-workspace

# Ignore Terraform files
*.tfstate
*.tfstate.*
.terraform/
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore VS Code settings
.vscode/

# Ignore IntelliJ IDEA files
.idea/

# Ignore Yarn files
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz

# Ignore Service specific files
services/spanner/open-bet/node_modules/
services/spanner/close-bet/node_modules/
services/spanner/odd-changes/node_modules/
services/spanner/simulator/node_modules/

# Ignore service-specific build directories
services/spanner/open-bet/build/
services/spanner/close-bet/build/
services/spanner/odd-changes/build/
services/spanner/simulator/build/

# Ignore service-specific logs
services/spanner/open-bet/logs/
services/spanner/close-bet/logs/
services/spanner/odd-changes/logs/
services/spanner/simulator/logs/



# Ignore Service specific files
services/memorystore/open-bet/node_modules/
services/memorystore/close-bet/node_modules/
services/memorystore/odd-changes/node_modules/
services/memorystore/bet-change/node_modules/
services/memorystore/verifydb/node_modules/
services/memorystore/simulator/node_modules/

# Ignore service-specific build directories
services/memorystore/open-bet/build/
services/memorystore/close-bet/build/
services/memorystore/odd-changes/build/
services/memorystore/bet-change/build/
services/memorystore/verifydb/build/
services/memorystore/simulator/build/

# Ignore service-specific logs
services/memorystore/open-bet/logs/
services/memorystore/close-bet/logs/
services/memorystore/odd-changes/logs/
services/memorystore/bet-change/logs/
services/memorystore/verifydb/logs/
services/memorystore/simulator/logs/


# Ignore Terraform state and backup files in iac
infra/terraform.tfstate
infra/terraform.tfstate.*
infra/.terraform/
infra/crash.log
infra/*.tfvars
infra/override.tf
iinfraac/override.tf.json
infra/*_override.tf
infra/*_override.tf.json

# Ignore .env files in services
services/spanner/open-bet/.env
services/spanner/close-bet/.env
services/spanner/odd-changes/.env
services/spanner/simulator/.env


# Ignore .env files in services
ervices/memorystore/open-bet/.env
services/memorystore/close-bet/logs/.env
services/memorystore/odd-changes/logs/.env
services/memorystore/bet-change/logs/.env
services/memorystore/verifydb/logs/.env
services/memorystore/simulator/logs/.env


